# up-team.sh خودش TEAM_PORT=9136 را export می‌کند
TEAM_PORT=9136

CORE_BASE_URL=http://core:8000

# PostGIS DB
TEAM8_POSTGRES_DB=team8_db
TEAM8_POSTGRES_USER=team8_user
TEAM8_POSTGRES_PASSWORD=team8_pass
TEAM8_DATABASE_URL=postgresql://team8_user:team8_pass@postgres:5432/team8_db

# MinIO
MINIO_IMAGE=quay.io/minio/minio:latest
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_REGION_NAME=us-east-1
MINIO_BUCKET=team8-media

# Backend expects these names:
S3_BUCKET_NAME=team8-media
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin123

