{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 8 - Comment Service</title>
    <link rel="stylesheet" href="{% static 'team8/styles/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Comment Service</h1>
    <h3>پیاده‌سازی توسط گروه 8</h3>
    <hr style="width: 50%; margin: 20px auto; opacity: 0.3;">
    
    <div style="border: 2px dashed #ccc; padding: 50px; border-radius: 10px; margin: 20px 0;">
        <p>محل قرارگیری رابط کاربری میکرو سرویس</p>
        <p>(Microservice UI Placeholder)</p>
    </div>

    <a href="/" class="back-btn"> بازگشت به داشبورد اصلی</a>
    
</body>
</html>
